* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
nav{
    background-color: #232323;
}

body{
    background-color: #232323;
}
.banner {
    background:url('/Gambar/Dark-wallpaper-desktop-background-57.jpg')
    no-repeat center center;
    background-size:cover ;
    padding-top: 20%;
    padding-bottom: 25%;
    color: white;
}
footer {
    background-color: #232323;
}